// 背景色に関する変数群
$bgColorMain: aliceblue;
$bgColorHeaderFooter: #434343;
$bgColorSideBar: #c6c6c6;
$bgColorAcccent: #434343;
$bgColorSectionTitle: #b0824a;
$bgColorButton1: #a29450;
$bgColorButton2: #ea68a2;

// フォントサイズに関する変数群
$fontSizeSectionTitle: 1.5em;
$fontSizeSectionInfo: 1.3em;
$fontSizeButtonText: 1.5em;

// 文字色に関する変数群
$fontColorMain: #575757;
$fontColorSectionTitle: #ffffff;
$fontColorButtonText: #ffffff;

