@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  background-color: #ffffff;
  color: #575757;
}

header,
footer {
  background-color: #434343;
  font-size: 1.3em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.mobile-menu-btn {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px 40px;
  min-height: 400px;
}

footer .footer-infomation p {
  color: #ffffff;
}

footer .footer-infomation p .address-code::before {
  content: '〒';
}

p {
  color: #575757;
}

img {
  display: block;
}

.buttons-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  font-family: "Font Awesome 5 Free";
  position: relative;
  outline: none;
  border: none;
  font-size: 1.3em;
  color: #ffffff;
}

button.action-button {
  background-color: #a29450;
  padding: 0.4em 2em;
}

button.action-button:hover {
  opacity: 0.8;
}

button.circle-style {
  background-color: #ea68a2;
  border: solid #ffffff;
  border-radius: 50px;
  -webkit-box-shadow: inset -4px -4px 3px 0px rgba(0, 0, 0, 0.5), inset 4px 4px 3px 0px rgba(255, 255, 255, 0.3);
          box-shadow: inset -4px -4px 3px 0px rgba(0, 0, 0, 0.5), inset 4px 4px 3px 0px rgba(255, 255, 255, 0.3);
}

button.circle-style:hover {
  background-color: #e98cb6;
}

button.modal-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../images/modal.png") no-repeat;
}

button:hover {
  cursor: pointer;
}

.news-wrapper,
.gallery-wrapper {
  background-color: #434343;
}

.flag-style {
  position: relative;
  background-color: #b0824a;
}

.flag-style::after {
  content: '';
  position: absolute;
  width: 30px;
  top: 0;
  right: 0;
  border-right: solid 30px #ffffff;
  border-top: solid 30px transparent;
  border-bottom: solid 30px transparent;
}

.section-title {
  font-size: 1.5em;
  color: #ffffff;
  padding: 0 0.5em;
  height: 60px;
  line-height: 60px;
}

.section-title ~ p {
  font-size: 1.2em;
  padding: 1em 0 1em 1em;
}

.drop-shadow {
  -webkit-filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
}

.logo-img {
  width: 120px;
}

.logo-img.header {
  margin-left: 5em;
}

.logo-img.footer {
  display: block;
  margin: 0 auto;
}

.photos-wrapper,
.recommend-wrapper,
.mercaso-cards,
.skys-wrapper,
.japan-wrapper {
  max-width: 950px;
}

.outer-wrapper {
  width: 100%;
  background-color: #ffffff;
}

.outer-wrapper .global-menu {
  position: relative;
}

.outer-wrapper .global-menu ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.outer-wrapper .global-menu ul.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer-wrapper .global-menu ul.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.outer-wrapper .global-menu ul li {
  display: inline-block;
  text-decoration: none;
  margin: 0 0.5em;
  position: relative;
  font-size: 1.8em;
  letter-spacing: 1.5px;
  color: #ffffff;
  -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.8));
          filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.8));
  padding: 0 1em;
  overflow: hidden;
}

.outer-wrapper .global-menu ul li a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.outer-wrapper .global-menu ul li a:hover {
  color: #575757;
}

.outer-wrapper .global-menu ul li a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  top: 0;
}

.outer-wrapper .global-menu ul li a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: -100;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

.outer-wrapper .global-menu ul li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #ffffff;
}

.outer-wrapper .main-visual {
  width: 100%;
  min-height: 80vh;
  background-color: pink;
  background-size: cover;
}

.outer-wrapper .main-contents-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.outer-wrapper .main-contents-wrapper .side-contents {
  background-color: #c6c6c6;
  padding: 1em;
  height: inherit;
}

.outer-wrapper .main-contents-wrapper .side-contents .side-cards {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}

.outer-wrapper .main-contents-wrapper .side-contents .side-cards .card-item {
  background-color: #ffffff;
  margin-bottom: 1.5em;
  border: solid 1px #575757;
}

.outer-wrapper .main-contents-wrapper .side-contents .side-cards .card-item .side-card-img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.outer-wrapper .main-contents-wrapper .side-contents .side-cards .card-item .card-title {
  font-size: 1em;
  padding: 5px 5px 0 5px;
}

.outer-wrapper .main-contents-wrapper .side-contents .side-cards .card-item .card-text {
  font-size: 0.8em;
  text-align: right;
  padding: 0 3px 3px 3px;
}

.outer-wrapper .main-contents-wrapper .main-contents {
  display: block;
  width: 100%;
  height: 100%;
}

.outer-wrapper .main-contents-wrapper .main-contents section {
  margin: 0 auto 120px;
}

.outer-wrapper .main-contents-wrapper .main-contents .photos-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 30% 30%;
      grid-template-columns: 40% 30% 30%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  gap: 0px 0px;
      grid-template-areas: "photo1 photo2 photo2" "photo1 photo3 photo4";
  width: 100%;
  height: 400px;
  margin: 80px auto;
}

.outer-wrapper .main-contents-wrapper .main-contents .photos-wrapper .photo_1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: photo1;
}

.outer-wrapper .main-contents-wrapper .main-contents .photos-wrapper .photo_2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: photo2;
}

.outer-wrapper .main-contents-wrapper .main-contents .photos-wrapper .photo_3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: photo3;
}

.outer-wrapper .main-contents-wrapper .main-contents .photos-wrapper .photo_4 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: photo4;
}

.outer-wrapper .main-contents-wrapper .main-contents .photos-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.outer-wrapper .main-contents-wrapper .main-contents .video-wrapper {
  width: 100%;
  padding: 0 80px;
}

.outer-wrapper .main-contents-wrapper .main-contents .video-wrapper iframe {
  display: block;
  margin: auto;
}

.outer-wrapper .main-contents-wrapper .main-contents .news-wrapper {
  width: 100%;
  height: 400px;
}

.outer-wrapper .main-contents-wrapper .main-contents .news-wrapper .news-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  padding: 2em 0;
  color: #fff;
}

.outer-wrapper .main-contents-wrapper .main-contents .news-wrapper .news-inner-wrapper h2 {
  font-size: 2em;
  letter-spacing: 1px;
  margin: 0 100px;
}

.outer-wrapper .main-contents-wrapper .main-contents .news-wrapper .news-inner-wrapper .separate-line {
  width: 2px;
  height: 100%;
  background-color: #fff;
}

.outer-wrapper .main-contents-wrapper .main-contents .news-wrapper .news-inner-wrapper .news-info {
  position: relative;
  margin-left: 5em;
}

.outer-wrapper .main-contents-wrapper .main-contents .news-wrapper .news-inner-wrapper .news-info ul li {
  font-size: 1.5em;
  margin: 20px 0;
}

.outer-wrapper .main-contents-wrapper .main-contents .recommend-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.outer-wrapper .main-contents-wrapper .main-contents .recommend-wrapper .recommend-img {
  min-width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.outer-wrapper .main-contents-wrapper .main-contents .recommend-wrapper .recommend-inner-wrapper {
  margin-left: 50px;
}

.outer-wrapper .main-contents-wrapper .main-contents .recommend-wrapper .recommend-inner-wrapper p {
  margin-bottom: 50px;
}

.outer-wrapper .main-contents-wrapper .main-contents .recommend-wrapper .recommend-inner-wrapper .recommend-mobile-wrapper {
  display: none;
}

.outer-wrapper .main-contents-wrapper .main-contents .mercaso-wrapper {
  background-color: #434343;
  width: 100%;
  padding-bottom: 100px;
}

.outer-wrapper .main-contents-wrapper .main-contents .mercaso-wrapper .mercaso-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 50px 0;
}

.outer-wrapper .main-contents-wrapper .main-contents .mercaso-wrapper .mercaso-cards .card-item {
  width: 300px;
}

.outer-wrapper .main-contents-wrapper .main-contents .mercaso-wrapper .mercaso-cards .card-item .mercaso-img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rosybrown;
}

.outer-wrapper .main-contents-wrapper .main-contents .mercaso-wrapper .mercaso-cards .card-item .title {
  font-size: 1.3em;
  background-color: #fff;
  margin-bottom: 1em;
  padding: 0.5em;
}

.outer-wrapper .main-contents-wrapper .main-contents .mercaso-wrapper .mercaso-cards .card-item .circle-style {
  display: none;
}

.outer-wrapper .main-contents-wrapper .main-contents .mercaso-wrapper .goto-mercaso {
  display: block;
  width: 500px;
  padding: 1em;
  margin: auto;
}

.outer-wrapper .main-contents-wrapper .main-contents .skys-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.outer-wrapper .main-contents-wrapper .main-contents .skys-wrapper .skys-inner-wrapper button {
  display: block;
  width: 100%;
}

.outer-wrapper .main-contents-wrapper .main-contents .skys-wrapper .skys-inner-wrapper .skys-text-contents {
  margin-bottom: 10px;
}

.outer-wrapper .main-contents-wrapper .main-contents .skys-wrapper .skys-img {
  min-width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: darkgray;
}

.outer-wrapper .main-contents-wrapper .main-contents .gallery-wrapper {
  width: 100%;
  padding: 100px 0;
}

.outer-wrapper .main-contents-wrapper .main-contents .gallery-wrapper .gallery-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.outer-wrapper .main-contents-wrapper .main-contents .gallery-wrapper .gallery-inner-wrapper .gallery-card {
  width: 250px;
  margin: 0 50px;
}

.outer-wrapper .main-contents-wrapper .main-contents .gallery-wrapper .gallery-inner-wrapper .gallery-card .gallery-card-img {
  width: 250px;
  height: 250px;
  background-color: tomato;
}

.outer-wrapper .main-contents-wrapper .main-contents .gallery-wrapper .gallery-inner-wrapper .gallery-card .title {
  color: #ffffff;
  padding: 0.5em;
  margin-bottom: 1em;
}

.outer-wrapper .main-contents-wrapper .main-contents .gallery-wrapper .gallery-inner-wrapper .gallery-card button {
  display: block;
  width: 80%;
  font-size: 1.3em;
  padding: 0.25em;
  margin: 0 auto;
}

.outer-wrapper .main-contents-wrapper .main-contents .japan-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.outer-wrapper .main-contents-wrapper .main-contents .japan-wrapper .japan-img {
  min-width: 400px;
  height: 400px;
  background-color: teal;
}

.outer-wrapper .main-contents-wrapper .main-contents .japan-wrapper .japan-inner-wrapper {
  margin-left: 50px;
}

.outer-wrapper .main-contents-wrapper .main-contents .japan-wrapper .japan-inner-wrapper button {
  width: 100%;
  margin-bottom: 15px;
}
/*# sourceMappingURL=base.css.map */