@charset "UTF-8";
/************************************************

stylesheet： 599px以下のタブレットやモニターで適用

************************************************/
.side-contents {
  display: none;
}

.outer-wrapper .logo-img {
  margin: 0 auto;
}

.outer-wrapper .global-menu {
  display: none;
}

.outer-wrapper .main-contents-wrapper .main-contents .photos-wrapper {
  display: block;
  width: 300px;
}

.outer-wrapper .main-contents-wrapper .main-contents .photos-wrapper .photo_2,
.outer-wrapper .main-contents-wrapper .main-contents .photos-wrapper .photo_3,
.outer-wrapper .main-contents-wrapper .main-contents .photos-wrapper .photo_4 {
  display: none;
}

.outer-wrapper .main-contents-wrapper .main-contents .video-wrapper iframe {
  width: 100%;
}

.outer-wrapper .main-contents-wrapper .main-contents .news-wrapper {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.outer-wrapper .main-contents-wrapper .main-contents .news-wrapper .news-inner-wrapper {
  display: block;
}

.outer-wrapper .main-contents-wrapper .main-contents .news-wrapper .news-inner-wrapper h2 {
  text-align: center;
}

.outer-wrapper .main-contents-wrapper .main-contents .news-wrapper .news-inner-wrapper .separate-line {
  width: 60%;
  height: 2px;
  margin: 0 auto;
}

.outer-wrapper .main-contents-wrapper .main-contents .recommend-wrapper {
  display: block;
}

.outer-wrapper .main-contents-wrapper .main-contents .recommend-wrapper .recommend-img {
  min-width: 95%;
  height: 300px;
  margin: 0 auto;
  -o-object-fit: fill;
     object-fit: fill;
}

.outer-wrapper .main-contents-wrapper .main-contents .recommend-wrapper .recommend-inner-wrapper {
  width: 95%;
  margin: 50px auto;
}

.outer-wrapper .main-contents-wrapper .main-contents .recommend-wrapper .recommend-inner-wrapper .buttons-area {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.outer-wrapper .main-contents-wrapper .main-contents .recommend-wrapper .recommend-inner-wrapper .recommend-mobile-wrapper {
  display: block;
  margin-top: 100px;
}

.outer-wrapper .main-contents-wrapper .main-contents .recommend-wrapper .recommend-inner-wrapper .recommend-mobile-wrapper .recommend-mobile-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
}

.outer-wrapper .main-contents-wrapper .main-contents .recommend-wrapper .recommend-inner-wrapper .recommend-mobile-wrapper .recommend-mobile-inner-wrapper > p {
  width: 55%;
  font-size: 1.2em;
  padding-left: 0.5em;
  margin-bottom: 0px;
}

.outer-wrapper .main-contents-wrapper .main-contents .recommend-wrapper .recommend-inner-wrapper .recommend-mobile-wrapper .recommend-mobile-inner-wrapper .buttons-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.outer-wrapper .main-contents-wrapper .main-contents .recommend-wrapper .recommend-inner-wrapper .recommend-mobile-wrapper .recommend-mobile-inner-wrapper .buttons-area .action-button {
  margin-bottom: 5px;
}

.outer-wrapper .main-contents-wrapper .main-contents .recommend-wrapper .recommend-inner-wrapper .recommend-mobile-wrapper .recommend-mobile-inner-wrapper .buttons-area .action-button:last-child {
  margin-bottom: 0px;
}

.outer-wrapper .main-contents-wrapper .main-contents .mercaso-wrapper {
  padding-bottom: 0px;
}

.outer-wrapper .main-contents-wrapper .main-contents .mercaso-wrapper .mercaso-cards {
  display: block;
}

.outer-wrapper .main-contents-wrapper .main-contents .mercaso-wrapper .mercaso-cards .card-item {
  width: 300px;
  margin: 0 auto 100px;
}

.outer-wrapper .main-contents-wrapper .main-contents .mercaso-wrapper .mercaso-cards .card-item .circle-style {
  display: block;
  width: 100%;
  padding: 0.5em 0;
}

.outer-wrapper .main-contents-wrapper .main-contents .mercaso-wrapper .mercaso-cards .card-item:last-child {
  margin-bottom: 0px;
}

.outer-wrapper .main-contents-wrapper .main-contents .mercaso-wrapper .goto-mercaso {
  display: none;
}

.outer-wrapper .main-contents-wrapper .main-contents .gallery-wrapper .gallery-inner-wrapper {
  display: block;
}

.outer-wrapper .main-contents-wrapper .main-contents .japan-wrapper {
  display: block;
}
/*# sourceMappingURL=under_600px.css.map */