/********************************** 
stylesheet:モバイルメニューボタンのスタイルシート
**********************************/

.mobile-menu-btn {
    display:block;
    background-color: transparent;
    margin-left: -80px;
    padding-right: 30px;
    & > span {
        width: 50px;
        height: 2px;
        display: block;
        background-color: #fff;
        margin-bottom: 9px;

        &:nth-child(3) {
            margin-bottom: 0px;
        }

        &:last-child {
            background-color: transparent;
            font-size: 19px;
            margin-bottom: 0px;
            height: fit-content;
        }
    }
}